# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Always state the H0 and H1 before conducting the hypothesis test.
- Happy learning!

In [4]:
# import numpy and pandas
import pandas as pd
import numpy as np

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [5]:
# Your code here:
data = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')
data.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.0
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN

In [6]:
data.shape

(33702, 8)

Examine the `salaries` dataset using the `head` function below.

In [7]:
# Your code here:

data.head(25)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.00
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
5,"AGNEW, ANTONIO E",MOTOR TRUCK DRIVER,AVIATION,F,Hourly,40.0,NaN,37.45
6,"AGNEW, MELISSA M",SERGEANT,POLICE,F,Salary,NaN,111444.0,NaN
7,"AGOSTA, JOSEPH J",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,103932.0,NaN
8,"AGOSTINELLI, MICHAEL A",FIREFIGHTER (PER ARBITRATORS AWARD)-EMT,FIRE,F,Salary,NaN,107106.0,NaN
9,"AGOSTINI, LUIS R",ASST DIR,POLICE,F,Salary,NaN,95736.0,NaN
10,"AGOSTO, HECTOR I",POLICE OFFICER/EXPLSV DETECT K9 HNDLR,POLICE,F,Salary,NaN,94524.0,NaN
11,"AGREDANO, ELIAS",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
12,"AGREDANO, MARIO",BRIDGE OPERATOR,TRANSPORTN,F,Salary,NaN,67896.0,NaN
13,"AGRON, EDUARDO",SERGEANT,POLICE,F,Salary,NaN,122472.0,NaN
14,"AGRON, EDWIN",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
15,"AGSALUD, FERNAN S",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,40.78
16,"AGSALUD JR, JUANITO S",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,38.52
17,"AGUADA, GILBERT GLENN",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
18,"AGUAS, ALEX",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
19,"AGUAYO, BRAULIO",FIREFIGHTER-EMT,FIRE,F,Salary,NaN,89148.0,NaN
20,"AGUAYO, LUIS A",FIREFIGHTER-EMT,FIRE,F,Salary,NaN,92274.0,NaN
21,"AGUAYO, LUIS M",LABORER - APPRENTICE,WATER MGMNT,F,Hourly,40.0,NaN,34.98
22,"AGUAYO, MARIA G",ACCOUNTING TECHNICIAN II,FINANCE,F,Salary,NaN,47160.0,NaN
23,"AGUIAR, WILLIAM M",ADMINISTRATIVE DEPUTY,LAW,F,Salary,NaN,143976.0,NaN
24,"AGUILA, JUANITA",MOTOR TRUCK DRIVER,AVIATION,F,Hourly,40.0,NaN,37.45

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [8]:
data.isna

<bound method DataFrame.isna of                          Name                 Job Titles        Department  \
0      ADRIANO,  RACQUEL ANNE                  PARAMEDIC              FIRE
1           AFFANEH,  MAHIR A             POLICE OFFICER            POLICE
2           AFOENYI,  PHYLLIS  TITLE V PROGRAM TRAINEE I  FAMILY & SUPPORT
3             AGAR,  BULENT B        DEPUTY COMMISSIONER       WATER MGMNT
4             AGEE,  LAWRENCE             POLICE OFFICER            POLICE
...                       ...                        ...               ...
33697      ZYLINSKA,  KLAUDIA             POLICE OFFICER            POLICE
33698      ZYMANTAS,  LAURA C             POLICE OFFICER            POLICE
33699       ZYMANTAS,  MARK E             POLICE OFFICER            POLICE
33700     ZYRKOWSKI,  CARLO E             POLICE OFFICER            POLICE
33701     ZYSKOWSKI,  DARIUSZ    CHIEF DATA BASE ANALYST              DAIS

      Full or Part-Time Salary or Hourly  Typical Hours  Annual Salary  \
0                     F           Salary            NaN        72510.0
1                     F           Salary            NaN        93354.0
2                     P           Hourly           20.0            NaN
3                     F           Salary            NaN       132972.0
4                     F           Salary            NaN        90024.0
...                 ...              ...            ...            ...
33697                 F           Salary            NaN        72510.0
33698                 F           Salary            NaN        76266.0
33699                 F           Salary            NaN        90024.0
33700                 F           Salary            NaN        93354.0
33701                 F           Salary            NaN       126732.0

       Hourly Rate
0              NaN
1              NaN
2             13.0
3              NaN
4              NaN
...            ...
33697          NaN
33698          NaN
33699          NaN
33700          NaN
33701          NaN

[33702 rows x 8 columns]>

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [9]:
# Your code here:

data['Salary or Hourly'].value_counts('Salary')

Salary    0.757462
Hourly    0.242538
Name: Salary or Hourly, dtype: float64

In [10]:
hourly = data['Hourly Rate'].dropna()
# 8174 - number of workers earning hourly wage

In [11]:
hourly

2        13.00
5        37.45
15       40.78
16       38.52
21       34.98
         ...
33676    25.95
33678    43.72
33681    51.43
33684    49.35
33688    37.45
Name: Hourly Rate, Length: 8174, dtype: float64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [12]:
# Your code here:
data['Department'].value_counts()

POLICE                 13848
FIRE                    4627
STREETS & SAN           2175
WATER MGMNT             1914
AVIATION                1856
OEMC                    1737
TRANSPORTN              1113
PUBLIC LIBRARY          1088
DAIS                    1033
FAMILY & SUPPORT         656
FINANCE                  544
HEALTH                   467
LAW                      398
CITY COUNCIL             362
BUILDINGS                258
PUBLIC SAFETY ADMIN      244
BUSINESS AFFAIRS         167
HOUSING & ECON DEV       154
COPA                     123
BOARD OF ELECTION        111
MAYOR'S OFFICE           104
INSPECTOR GEN             95
CITY CLERK                88
PROCUREMENT               84
HUMAN RESOURCES           75
ANIMAL CONTRL             75
CULTURAL AFFAIRS          74
HOUSING                   66
BUDGET & MGMT             44
ADMIN HEARNG              38
DISABILITIES              28
TREASURER                 28
HUMAN RELATIONS           17
BOARD OF ETHICS            8
POLICE BOARD               2
LICENSE APPL COMM          1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [13]:
# Your code here:
data['Hourly Rate'].sum()/8174
# mean hourly wage at $34.59 (rounded)

34.58644971862002

In [14]:
import scipy.stats

confidence_level = 0.95
# confidence_level = 1  # WHAT HAPPENS NOW?
degrees_freedom = len(hourly) - 1  # or, for large values of sample size, just use that
sample_mean = np.mean(hourly)
# note that we use the standard error of the sample 
# as an estimate of the standard error of the population (which is used in the theoretical formula)
sample_standard_error = scipy.stats.sem(hourly) # sem = standard error of the mean = std(patients)/sqrt(degrees_freedom)

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

In [15]:
np.std(hourly)/np.sqrt(degrees_freedom)

0.14694742867989846

In [16]:
print( 'Confidence interval is ', confidence_interval, '.' )
# Mean hourly wage of $34.59 falls within the confidence interval

Confidence interval is  (34.29839539204317, 34.874504045196865) .

In [17]:
sample_standard_error

0.14694742867989574

In [18]:
(34.29839539204317 + 34.874504045196865)/2

34.58644971862002

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our Null hypothesis is less than or equal to, then to reject, the test statistic must be positive (rejects the <) and the p-value below 0.05 (rejects the =).

In [19]:
# Your code here:
salary = data['Annual Salary'].dropna()
salary
#25528 salaried employees

0         72510.0
1         93354.0
3        132972.0
4         90024.0
6        111444.0
           ...
33697     72510.0
33698     76266.0
33699     90024.0
33700     93354.0
33701    126732.0
Name: Annual Salary, Length: 25528, dtype: float64

In [20]:
sum(salary)/25528
#Average salary: $89061.79

89061.79499999997

In [21]:
confidence_level = 0.95
# confidence_level = 1  # WHAT HAPPENS NOW?
degrees_freedom = len(salary) - 1  # or, for large values of sample size, just use that
sample_mean = np.mean(salary)
# note that we use the standard error of the sample 
# as an estimate of the standard error of the population (which is used in the theoretical formula)
sample_standard_error = scipy.stats.sem(salary) # sem = standard error of the mean = std(patients)/sqrt(degrees_freedom)

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

In [22]:
np.std(salary)/np.sqrt(degrees_freedom)

132.26138232822532

In [23]:
print('Confidence interval is ', confidence_interval, '.' )

Confidence interval is  (88802.55516222387, 89321.0348377761) .

In [24]:
sample_standard_error

132.2613823282275

In [25]:
(88802.55516222387 + 89321.0348377761)/2
#Average salary lies within the confidence interval. We cannot reject the H0 hypothesis.

89061.79499999998

In [26]:
from scipy.stats import ttest_1samp

stat, pval = ttest_1samp(salary, 89061.7949)

In [27]:
stat, pval = ttest_1samp(salary, 89061.7949)
print('pvalue for the one-tailed test is ', pval/2)

pvalue for the one-tailed test is  0.4999996983712651

In [28]:
hourly_data = data['Hourly Rate'].dropna()
sum(hourly_data)/8174

34.58644971862046

Using the `crosstab` function, find the department that has the most hourly workers.

In [29]:
# Your code here:
data_crosstab = pd.crosstab(data['Department'], data['Salary or Hourly'], margins=False)
data_crosstab
#Street and Sanitation has the most hourly workers

Salary or Hourly     Hourly  Salary
Department
ADMIN HEARNG              0      38
ANIMAL CONTRL            12      63
AVIATION               1214     642
BOARD OF ELECTION         0     111
BOARD OF ETHICS           0       8
BUDGET & MGMT             2      42
BUILDINGS                 0     258
BUSINESS AFFAIRS          7     160
CITY CLERK                0      88
CITY COUNCIL             74     288
COPA                      0     123
CULTURAL AFFAIRS         10      64
DAIS                    745     288
DISABILITIES              1      27
FAMILY & SUPPORT        357     299
FINANCE                  45     499
FIRE                      0    4627
HEALTH                    2     465
HOUSING                   0      66
HOUSING & ECON DEV        3     151
HUMAN RELATIONS           0      17
HUMAN RESOURCES           0      75
INSPECTOR GEN             0      95
LAW                      48     350
LICENSE APPL COMM         0       1
MAYOR'S OFFICE           17      87
OEMC                   1077     660
POLICE                   24   13824
POLICE BOARD              0       2
PROCUREMENT               2      82
PUBLIC LIBRARY          356     732
PUBLIC SAFETY ADMIN      48     196
STREETS & SAN          1846     329
TRANSPORTN              726     387
TREASURER                 0      28
WATER MGMNT            1558     356

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [30]:
# Your code here:
salary_data = data[['Department']+['Salary or Hourly']+['Hourly Rate']].copy()
salary_data

             Department Salary or Hourly  Hourly Rate
0                  FIRE           Salary          NaN
1                POLICE           Salary          NaN
2      FAMILY & SUPPORT           Hourly         13.0
3           WATER MGMNT           Salary          NaN
4                POLICE           Salary          NaN
...                 ...              ...          ...
33697            POLICE           Salary          NaN
33698            POLICE           Salary          NaN
33699            POLICE           Salary          NaN
33700            POLICE           Salary          NaN
33701              DAIS           Salary          NaN

[33702 rows x 3 columns]

In [31]:
# Specific value to match in Column2
target_value = 'STREETS & SAN'

# Filter the DataFrame based on the specific value in Column2
filtered_data = data.loc[data['Department'] == target_value]

# Calculate the average value of Column1 for the filtered DataFrame
hourly_avg = hourly_data.mean()

print(f'Average value of Hourly Rate where Department is {target_value} : {hourly_avg}')
#Average hourly rate in Streets & Sanitation is $34.59

Average value of Hourly Rate where Department is STREETS & SAN : 34.58644971862002

In [50]:
dept_sal = data[data['Department']=='POLICE']
cops = dept_sal['Annual Salary']

cops_sal = cops.dropna()


cops_sal = cops_sal.replace("[$,]", "", regex=True)
cops_sal = cops_sal.astype(float)
cops_sal

1         93354.0
4         90024.0
6        111444.0
7        103932.0
9         95736.0
           ...
33696     80016.0
33697     72510.0
33698     76266.0
33699     90024.0
33700     93354.0
Name: Annual Salary, Length: 13824, dtype: float64

In [32]:
confidence_level = 0.95
# confidence_level = 1  # WHAT HAPPENS NOW?
degrees_freedom = len(str(hourly_avg)) - 1  # or, for large values of sample size, just use that
sample_mean = np.mean(hourly_avg)
# note that we use the standard error of the sample 
# as an estimate of the standard error of the population (which is used in the theoretical formula)
sample_standard_error = scipy.stats.sem(hourly_avg) # sem = standard error of the mean = std(patients)/sqrt(degrees_freedom)

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

C:\Users\harri\anaconda3\Lib\site-packages\numpy\core\_methods.py:269: RuntimeWarning: Degrees of freedom <= 0 for slice
  ret = _var(a, axis=axis, dtype=dtype, out=out, ddof=ddof,
C:\Users\harri\anaconda3\Lib\site-packages\numpy\core\_methods.py:261: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)

In [33]:
np.std(hourly_avg)/np.sqrt(degrees_freedom)

0.0

In [34]:
stat, pval = ttest_1samp(hourly_avg, 34.58644971862002)

C:\Users\harri\anaconda3\Lib\site-packages\scipy\stats\_axis_nan_policy.py:502: RuntimeWarning: Precision loss occurred in moment calculation due to catastrophic cancellation. This occurs when the data are nearly identical. Results may be unreliable.
  res = hypotest_fun_out(*samples, **kwds)
C:\Users\harri\anaconda3\Lib\site-packages\scipy\stats\_stats_py.py:1214: RuntimeWarning: divide by zero encountered in divide
  var *= np.divide(n, n-ddof)  # to avoid error on division by zero
C:\Users\harri\anaconda3\Lib\site-packages\scipy\stats\_stats_py.py:1214: RuntimeWarning: invalid value encountered in scalar multiply
  var *= np.divide(n, n-ddof)  # to avoid error on division by zero

In [35]:
stat, pval = ttest_1samp(hourly_avg, 34.58644971862002)
print('pvalue for the one-tailed test is ', pval/2)
#Not sure how this happened

pvalue for the one-tailed test is  nan

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [48]:
# # Your code here:
import scipy.stats as st 

# # 34.58644971862046
# # scipy.stats.sem(a, axis=0, ddof=1, nan_policy='propagate', *, keepdims=False)
# st.t.interval(alpha=0.95, data=len(['Department'])-1,
#               loc=np.mean(hourly_avg), 
#               scale=st.sem(hourly_avg))

# Your code here:
# st.t.interval(alpha = 0.95,              # Confidence level
#                  df= 24,                    # Degrees of freedom
#                  loc = sample_mean,         # Sample mean
#                  scale = sigma)             # Standard deviation estimate
# hour_worker = chicago['Hourly Rate'].dropna()
# hour_worker

con_level = 0.95
df = len(hourly_data)-1
mu = hourly_data.mean()
se = st.sem(hourly_data)

conf_int = st.t.interval(con_level,df,mu,se)
print('Confidence interval is between', conf_int)

Confidence interval is between (34.29839539204317, 34.874504045196865)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [ ]:
# Your code here:

In [53]:
# Your code here:
cops_sal

conf_level = 0.95
df = len(cops_sal)-1
mu = cops_sal.mean()
se = st.sem(cops_sal)


conf_int_cop = st.t.interval(conf_level,df,mu,se)
print('Confidence interval for police salary is between',conf_int_cop)

Confidence interval for police salary is between (88534.1182885883, 89134.11955863392)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [ ]:
# Your code here: